h1 {
  color: #702b2b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  line-height: 28.8px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #b16988;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.weather-app {
  color: #702b2b;
  border: 1px solid;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 900px;
  background: #ffd6dd38;
}

.weather-icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.temperature {
  color: #702b2b;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
}
.weather-search-form {
  margin-bottom: 20px;
}

button {
  border-color: rgb(94, 68, 30);
  color: #702b2b;
}

.weekAll {
  font-size: 12px;
  font-weight: bold;
}
